@import '../core/mixins';
@import '../core/base';

.text {
  text-align: center;
  color: #000;

  @include px2rem(font-size, 28);
  @include px2rem(line-height, 44);
}

.contentPadding {
  @include px2rem(padding, 15);

  img {
    max-width: 100%;
  }

}
