$body_bg_color: "#ececec";
$font_size: 1rem;

@mixin position_fixed {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}

#shouqianba {
  padding: 0;
  margin: 0;
  background: $body_bg_color;
  font-size: $font_size;
  @include position_fixed();
}
